*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: cartoon;
    src: url(./font/cartoon.ttf);
}

body{
    min-height: 100vh;
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    animation: none;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

html{
    scroll-behavior: smooth;
}

@media screen and (max-width: 300px) {
    body{
        display: none;
    }
}

@keyframes blur {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

::-webkit-scrollbar{
    width: 0;
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    color: #333;
    width: 100vw;
    height: 10vh;
    padding: 15px 20px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* backdrop-filter: blur(5px); */
    /* background: #fff; */
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.184);
}

.nav-bar a{
    text-decoration: none;
    color: #333;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoimage{
    background: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    padding: 9px;
    border-radius: 15px;
}

.logoimage img{
    margin-left: 2.4px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span{
    font-family: cartoon;
    font-size: 30px;
    font-weight: 550;
    margin-left: 3vw;
}

.hamburger{
    position: relative;
    width: 50px;
    height: 50px;
    background: #252525;
    border-radius: 50%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    /* padding: 12.5px; */
}

.menu{
    position: relative;
    width: 26px;
    height: 3.7px;
    background: #fff;
    border-radius: 5px;
    z-index: 2;
    transition: all 3s ease;
}

.menu::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    top: -10px;
    z-index: 2;

    transition: all 0.7s ease;
}

.menu::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    top: 10px;
    z-index: 2;
    transition: all 0.7s ease;
}

/* .showburger{
    transform: rotate(45deg);
} */

.showburger .menu{
    transition: all 0.25s ease;
    background: transparent;
}

.showburger .menu::before{
    top: 0;
    width: 90%;
    transform: rotate(45deg);
}

.showburger .menu::after{
    top: 0;
    width: 90%;
    transform: rotate(-45deg);
}


.link-holder{
    background: #222;
    position: absolute;
    right: 80px;
    /* bottom: -140px; */
    /* padding-top: 80px; */
    z-index: 1;
    /* border: 2px solid red; */
    border-radius: 40px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 0px;
    padding: 0 10px;
    transform: translateX(60px);
    opacity: 0.5;
    transition: all 1s ease;
}

.show-link{
    height: 45px;
    width: 120px;
    opacity: 1;
    transform: translateX(0);
}


.home{
    width: 50px;
    padding: 10px;
    transition: all 0.7s ease;
}

.home:hover{
    animation: collorr;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    /* transition: all 0.7s ease; */
}

@keyframes collorr {
    0%{
        opacity: 0.1;
    }

    100%{
        opacity: 1;
    }
}

.close{
    opacity: 0.2;
    width: 50px;
    padding: 14px;
    transform: rotate(180deg);
    border-radius: 50%;
    transition: all 0.7s ease;

}

.close:hover{
    animation: collor;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes collor {
    0%{
        background-color: rgba(255, 255, 255, 0.313);
    }

    100%{
        background-color: transparent;
    }
}

.home img, .close img{
    width: 100%;
    
}

@media screen and (min-width: 538px){
    
    .show-link{
        width: 200px;
        right: 90px;
    }


}




@media screen and (max-width:400px) {
    .show-link{
        width: 80px;
        right: 75px;
    }

    .home{
        padding: 1px;
    }

    .close{
        position: relative;
        right: -10px;
    }
}



.container{
    margin: 10vh 0 0 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: blurr;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes blurr {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.pager{
    background: rgba(61, 61, 255, 0.9);
    width: 100%;
    color: #fff;
    /* border: 2px solid red; */
    padding: 35px 20px 30px 20px;
}


.pager h1{
    margin-bottom: 13px;
    cursor: pointer;
    font-size: 25px;
}

.pager span{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.476);
    cursor: pointer;
    /* margin-bottom: 20px; */
    /* opacity: 0.6; */
}


.search{
    width: 100%;
    height: 60px;
    background: #fff;
    border: 2.5px solid white;
    border-radius: 15px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
}

.find{
    background: rgba(0, 0, 255, 0.68);
    height: 100%;
    width: 83%;
    /* min-width: ; */
    border: 0;
    display: flex;
    align-items: center; 
    padding: 10px 25px 6px 25px;
    color: #fff;
    font-size: 20px;

}

.find::placeholder{
    color: #fff;
    opacity: 0.9;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-btn{
    background: #fff;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 17px;
    opacity: 0.8;
    transition: all 0.5s ease;
    cursor: pointer;
    /* height: 100%; */
}

.search-btn:hover{
    opacity: 1;
}

.search-btn img{
    width: 100%;
}


.blog{
    padding: 40px 30px 10px 30px;
}

.item{
    /* border: 2px solid red; */
    margin-bottom: 20px;
}

.article-info{
    /* border: 1px solid green ; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    cursor: default;
}

.type{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.type img{
    width: 25px;
    margin-right: 7px;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.time img{
    width: 20px;
    opacity: 0.55;
    margin-right: 8px;
}

.time span{
    color: #555;
}


.title{
    margin-bottom: 20px;
    text-align: center;
}

.title h1{
    color: #444;
    margin-bottom: 5px;
}

.title small{
    opacity: 0.6;
    font-size: 14px;
}

.author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.author-image{
    width: 50px;
    cursor: pointer;
}

.author-image img{
    width: 100%;
}

.author-name{
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.5s ease;
}

.author-name:hover{
    color: rebeccapurple;
    opacity: 1;
}

.article{
    /* border: 2px solid green; */
    text-align: left;
}

.article p{
    font-size: 18px;
    line-height: 26px;
    color: #555;
    margin-bottom: 20px;
}


.article h3{
    font-size: 25px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 10px;
}

.charis{
    overflow: hidden;
    margin: 50px 0 30px 0;
}

.charis img{
    width: 100%;
}

.charisi img{
    border-radius: 15px;
}

.charisii img{
    border-bottom-left-radius: 50px;
}



.footer{
    /* border: 2px solid green; */
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}


.social{
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
    padding: 5px;
    transition: all 0.5s ease;
    border-radius: 50%;
    border: 3px solid transparent;
    background: rgb(71, 159, 227);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.social img{
    transition: all 1s ease;
    width: 100%;

}

.social:hover{
    /* border: 3px solid rgba(0, 0, 0, 0.35); */
    scale: 1.12;
}


.pinterest{
    background: rgb(199, 0, 0);
    margin-bottom: 20px;
    padding: 0;
}





.share{
    background: #222;
    position: fixed;
    bottom: -75px;
    left: -75px;
    width: 150px;
    height: 150px;
    transform: rotate(-45deg);
    transition: all 0.7s ease;
    padding: 10px;
    cursor: pointer;
}

.share:hover{
    scale: 1.2;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.616);
}

.share:hover .shareit{
    scale: 0.8;
    rotate: 360deg;
}

.ss{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: red; */
    transform: rotate(45deg);
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.shareit{
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 28px;
    right: 20px;
    z-index: 1;
    transition: all 0.5s ease;
    /* right: 1px; */
}